<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Adipisci, neque, odio praesentium harum vel optio fugit nulla natus.
    Numquam debitis quia facere sapiente blanditiis nam repellat dolores delectus harum minus.</p>
</div>
